@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* HOME  */

.home {
  position: relative;
  background-image: linear-gradient(rgba(111, 12, 100, 0.975), rgba(100, 145, 194, 0), rgba(171, 134, 134, 0));
  height: 100vh;
}

.header__top {
  width: 100%;
  position: relative;
}

.header__logo {
  height: 60px;
  width: 60px;
  border-radius: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0.75;
  transition: all 300ms ease;
}

.header__logo:hover {
  transform: scale(1.2);
  opacity: 1;
}

.header__title {
  text-align: center;
}

.home > .header__description > .home__btn {
  display: none;
}

.home__bgImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.8;
}

.header__container {
  padding: 20px;
}

.header__row {
  height: 30vh;
}

.header__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__btns {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-around;
}

.header__btn {
  width: 140px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  background-color: #90e9cf;
  color: #630091;
  border-color: #630091;
  transition: all 200ms ease;
}

.header__btn:hover {
  color: #90e9cf;
  background-color: #630091;
  border: 2px solid #90e9cf;
}

.home__btn {
  border: none;
  background: none;
}

.home__btn > svg {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.home__btn > svg:hover {
  color: #41fdc8;

}

.header__title {
  color: rgb(218, 203, 31);
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  font-family: 'DotGothic16', sans-serif;
}

.search {
  position: relative;
}

.input__img {
  width: 30px;
  height: 30px;
  z-index: 5;
}

.input__img:hover {
  transform: scale(1.2);
  transition: all 100ms ease;
}

.form__input {
  width: 600px;
  height: 50px;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: large;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  transition: all 300ms ease;
}

.form__input::placeholder {
  color: white;
}

.form__input:hover {
  color:rgba(255,255,255,.75);
  border: 4px solid rgba(255,255,255,.75);
  transition: all 200ms ease;
}

.form__input:hover::placeholder,
.form__input:focus::placeholder {
  color: rgba(255, 255, 255, 0.281);
  transition: all 300ms ease;
}

.form__input:focus {
  color: #fff;
}

.form__input:focus {
  outline: 0;
  border: 2px solid rgba(255,255,255,.75);
  background-color: #1fbd90;
}

.form__btn {
  position: absolute;
  background: none;
  border: none;
  top: 10px;
  right: 10px;
}

.genre__options {
  display: flex;
}

.genre__option {
  font-size: 20px;
  margin: 0 8px;
  padding: 8px 24px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: #1f6292;
  color: #29ff08;
  transition: all 100ms ease;

  font-size: 20px;
  cursor: pointer;
}


.genre__option:hover {
  background-color: #4bce37;
  color: #fff;
}

.genre__options > button {
  background: none;
  border: none;
  
}

/* GAMES */

#games__section {
  background-color: #e82f98;
  background-image: linear-gradient(225deg, #510831 0%, #784BA0 50%, #123d5c 100%);
  min-height: 100vh;
}

.games__body {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.games__body > svg {
  font-size: 100px;
  animation: rotate 500ms infinite;
}

.no__results {
  font-size: 32px;
  font-weight: 600;
  color: rgb(250, 250, 250);
  background-color: #2a0a1c;
  border-radius: 8px;
  padding: 0 8px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

/* GAME */

.game {
  text-align: center;
  max-height: 415px;
  width: 30%;
  max-width: 350px;
  margin: 12px;
  padding-bottom: 40px;
  border-width: 5px;
  border-style: solid;
  border-image: 
    linear-gradient(
      rgb(194, 25, 25), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  border-radius: 12px;
  cursor: pointer;
  color: rgb(255, 248, 187);
  background-color: #13411535;
}

.game:hover {
  transform: scale(1.03);
  border: 4px solid rgb(241, 53, 53);
  background-color: #9228647e;
  transition: all 200ms ease;
}

.game__title {
  padding: 12px;
}

.game > img {
  width: 100%;
  border-radius: 8px;
  max-height: 50%;
}

.game__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff200;
}

/* GAME INFO */

#gamesInfo__section {
  background-color: #e82f98;
  background-image: linear-gradient(225deg, #e692c1 0%, #c393ee 50%, #78b8e7 100%);
}

.info__row {
  padding: 40px;
}

.game__selected {
  display: flex;
  flex-direction: column;
}

.game__selected--btn {
  border: none;
  background: none;
}

.game__selected--btn > svg {
  cursor: pointer;
  font-size: 40px;
  margin-bottom: 12px;
  transition: all 300ms ease;
}

.game__selected--btn > svg:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.3);
}

.gameInfo--top {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
}

.game__selected--fig {
  max-width: 50%;
}

.game__selected--img {
  max-height: 280px;
  max-width: 100%;
  width: auto;
  border: 4px solid black;
  border-radius: 6px;
  box-shadow: rgba(18, 13, 13, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.game__selected--description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 28px;
  padding: 20px;
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
}

.game__selected--rating {
  display: flex;
  align-items: center;
  color: #fff200;
  font-size: 20px;
}

.game__selected--rating > h3 {
  padding-left: 8px;
}

.game__selected--summary {
  padding: 12px 28px;
  border: solid black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
}

.game__website > a:hover {
  color: #3343d2;
}

.games__recommended {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .home__bgImg {
    width: unset;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
